<% include ../../../partials/header %>

<div id="container-bg">


	<div id="container2">

        <% include ../../../partials/dashboard/nav %>

        <div id="faq-spacer"></div>

        <div id="leftpage">

        <h3 class="pagetitle">
            @<%= instagram.username %>
        </h3>

        <p>
            Manage your account options on this page.
        </p>

        <br>

            <div id="faqbox">
                <h3>

                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="col-sm-11 pull-left">

                                <strong>
                                    Options
                                </strong>

                            </div>

                            <div class="col-sm-1">

                                <form class="form-inline" id="delete-form" action="/dashboard/accounts/remove/instagram/<%= instagram.username %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-link">
                                        <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
                                    </button>
                                </form>

                            </div>

                        </div>

                    </div>

                </h3>

                <br>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">

                            <form id="manageinstagramaccount" name="manageinstagramaccount" method="post" action="/dashboard/accounts/manage/instagram/<%= instagram.id %>">

                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control" name="category">
                                        <% categories.forEach(function(category){ %>
                                            <option <% if(category.id === instagram.shoutout_category_id) { %> selected <% } %> value="<%= category.id %>"><%= category.name %></option>
                                        <% }); %>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="language">Language</label>
                                    <select class="form-control" name="language">
                                        <% languages.forEach(function(language){ %>
                                            <option <% if(language.id === instagram.language_id) { %> selected <% } %> value="<%= language.id %>"><%= language.name %></option>
                                        <% }); %>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <select class="form-control" name="country">
                                        <% countries.forEach(function(country){ %>
                                            <option <% if(country.id === instagram.country_id) { %> selected <% } %> value="<%= country.id %>"><%= country.name %></option>
                                        <% }); %>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="age">Age</label>
                                    <select class="form-control" name="age">
                                        <% ages.forEach(function(Age){ %>
                                            <option <% if(age.id === instagram.age_id) { %> selected <% } %> value="<%= age.id %>"><%= age.name %></option>
                                        <% }); %>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="sex">Sex</label>
                                    <select class="form-control" name="sex">
                                        <% sexes.forEach(function(sex){ %>
                                            <option <% if(sex.id === instagram.sex_id) { %> selected <% } %> value="<%= sex.id %>"><%= sex.name %></option>
                                        <% }); %>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="activity">Activity</label>
                                    <select class="form-control" name="activity">
                                        <% activities.forEach(function(activity){ %>
                                            <option <% if(activity.id === instagram.activity_id) { %> selected <% } %> value="<%= activity.id %>"><%= activity.name %></option>
                                        <% }); %>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block">Save</button>

                            </form>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="rightpage">
                <% include ../../../partials/scrolling-sidebar %>
        </div>

	</div>
	<!-- container2 -->

  <% include ../../../partials/footer %>
  <% include ../../../partials/sticky-sidebar-deps %>

</body>
</html>