<% include ../partials/header %>

<div id="container-bg">

	<div id="container2" style="min-height: 500px;">

        <% include ../partials/dashboard/nav %>

        <div id="faq-spacer"></div>

        <div class="col-sm-12">

            <h3 class="pagetitle">
                Shoutouts
            </h3>

            <p>
                Browse Instagram & Twitter influencers by category, followers and price
            </p>

            <p>
                <a class="btn btn-success btn-block" href="/shoutouts/new" role="button">Add Shoutout</a>
            </p>

            <br>

        </div>

        <br>

        <div class="col-sm-12">

            <div id="faqbox">

                <% if(shoutouts.length > 0) { %>
                    <table id="table" class="table table-bordered table-intel">
                        <thead>
                            <tr>
                                <th class="filter">Account</th>
                                <th class="filter">Followers</th>
                                <th class="filter">Price</th>
                                <th class="filter">Reviews</th>
                                <th class="filter">Type</th>
                                <th class="filter">Link</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% shoutouts.forEach(function(shoutout){ %>
                                <tr>
                                    <td><a class="btn btn-primary" href="/shoutout/<%= shoutout.id %>"><%= shoutout.TwitterAccount.username %></a></td>
                                    <td class="text-right"><%= shoutout.followers %></td>
                                    <td class="text-right">$<%= shoutout.ShoutoutPriceOptions[0].ShoutoutPrice.price %></td>
                                    <td class="text-right"><%= shoutout.ShoutoutReviews.length %></td>
                                    <td class="text-right"><%= shoutout.TwitterAccount.type %></td>
                                    <td class="text-right"><a class="btn btn-default" href="/shoutout/<%= shoutout.id %>" role="button">View</a></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% }  else { %>
                    <p>No shoutouts added yet.</p>
                <% } %>

            </div>

        </div>

	</div>
	<!-- container2 -->

    <script>
        $('table').excelTableFilter();
    </script>

    <% include ../partials/footer %>

</body>
</html>