<% include ../partials/header %>

<div id="container-bg">

	<div id="container2">

        <% include ../partials/dashboard/nav %>

        <div class="row" style="width:983px;margin:0px;padding-top:15px;">

            <div class="col-sm-8">
                <div class="col-xs-12 bg-info shoutout-info">
                    <div class="col-sm-5 col-md-5 col-lg-4">
                        <img style="height: 150px;width: 150px" class="img-circle img-responsive" src="<%= shoutout.twitter.profile_image_url_https.replace('_normal.', '.') %>" alt="shoutout on <%= shoutout.TwitterAccount.username %>" title="shoutout on <%= shoutout.TwitterAccount.username %>">
                    </div>

                    <div class="col-sm-7 col-md-7 col-lg-8">
                        <div class="pull-left">
                            <h2>
                                <%= shoutout.TwitterAccount.username %>
                            </h2>
                            <p>
                                <small>followers:</small> <%= shoutout.twitter.followers_count %>
                            </p>
                            <p>
                                <small>score:</small> <%= shoutout.score %>
                            </p>
                        </div>
                        <div class="pull-right">
                            <% if(shoutout.favorited) { %>
                                <span class="glyphicon <%= shoutout.favorited ? 'glyphicon-heart' : 'glyphicon-heart-empty' %>" onclick="favorite(this)" aria-hidden="true" style="font-size:26px;color:#d50000;"></span>
                            <% } %>
                        </div>
                    </div>

                    <div class="col-sm-7 col-md-7 col-lg-8">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= shoutout.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= shoutout.score %>%">
                            <span class="sr-only"><%= shoutout.score %></span>
                                <%= shoutout.score %>%
                            </div>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
                <br>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                Description & Demographics
                            </div>

                            <div class="panel-body">

                                <div>
                                    <p>
                                        <%= shoutout.description %>
                                    </p>
                                </div>

                                <div>
                                    <p>
                                        <% if(shoutout.TwitterAccount.Language) { %>
                                            Language: <%= shoutout.TwitterAccount.Language.name %><br>
                                        <% } %>

                                        <% if(shoutout.TwitterAccount.Country) { %>
                                            Country: <%= shoutout.TwitterAccount.Country.name %><br>
                                        <% } %>

                                        <% if(shoutout.TwitterAccount.Age) { %>
                                            Age: <%= shoutout.TwitterAccount.Age.name %><br>
                                        <% } %>

                                        <% if(shoutout.TwitterAccount.Gender) { %>
                                            Gender: <%= shoutout.TwitterAccount.Sex.name %><br>
                                        <% } %>

                                        <% if(shoutout.TwitterAccount.Activity) { %>
                                            Activity: <%= shoutout.TwitterAccount.Activity.name %>
                                        <% } %>
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist" id="myTabs">
                    <li role="presentation" class="active"><a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab">Pricing</a></li>
                    <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="pricing">

                        <div class="panel panel-default">
                            <!-- <div class="panel-heading">Pricing</div> -->
                            <div class="panel-body">
                                <% if(shoutout.ShoutoutPriceOptions.length > 0) { %>

                                    <% shoutout.ShoutoutPriceOptions.forEach(function(option){ %>

                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="priceOptionRadio" id="option-<%= option.id %>" value="<%= option.id %>" data-price="<%= option.ShoutoutPrice.price %>" data-description="<%= option.name %>">
                                                <strong>
                                                    <%= `${option.name} - $${option.ShoutoutPrice.price}` %>
                                                </strong>
                                            </label>
                                        </div>

                                    <% }); %>

                                    <br>

                                    <div class="form-group">
                                        <label for="shoutoutCaption" class="col-sm-3 control-label">Caption</label>
                                        <textarea class="form-control" rows="2" id="shoutoutCaption" name="shoutoutCaption" placeholder="The caption of your shoutout"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="shoutoutMediaLink" class="col-sm-3 control-label">Photo/Video</label>
                                        <input type="text" class="form-control" id="shoutoutMediaLink" name="shoutoutMediaLink" placeholder="Link to photo/video for the shoutout">
                                    </div>

                                    <div class="form-group">
                                        <label for="description" class="col-sm-12 control-label">Publish Time</label>
                                        <div class="input-group date" id="shoutoutPublishTime">
                                            <input type="text" class="form-control" name="publishTimeInput" placeholder="Preferred shoutout publish time" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#shoutoutPublishTime').datetimepicker();
                                        });
                                    </script>


                                <% }  else { %>
                                    <p>No price options available.</p>
                                <% } %>
                            </div>

                            <% if(currentUser) { %>
                                <button id="buyButton" class="btn btn-success btn-block">Buy Now</button>
                            <% } else { %>
                                <button id="buyButton" class="btn btn-success btn-block" disabled="disabled">Log in to buy!</button>
                            <% } %>
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane" id="reviews">

                        <% if(shoutout.ShoutoutReviews.length > 0) { %>
                            <div class="row">
                            <br>
                            <% shoutout.ShoutoutReviews.forEach(function(review){ %>
                                <div class="col-sm-12">
                                    <% if(review.rating > 3) { %><div class="panel panel-success"><% } %>
                                    <% if(review.rating < 3) { %><div class="panel panel-danger"><% } %>
                                    <% if(review.rating == 3) { %><div class="panel panel-warning"><% } %>
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <%= review.User.username %>
                                                <span class="pull-right">Rating: <%= review.rating %></span>
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <p><%= review.text  %></p>
                                            <small class="pull-right"><%= moment(review.created_at).format('LL'); %></small>
                                        </div>
                                        <% if(currentUser && review.user_id == currentUser.id) { %>
                                            <div class="panel-footer">
                                                <a class="btn btn-warning btn-block" href="/shoutouts/<%= review.shoutout_id %>/review/<%= review.id %>/edit" role="button">Edit</a>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% }); %>
                            </div>
                        <% }  else { %>
                        <p class="page-p">
                            <br>
                            You have no linked accounts.
                        </p>
                        <% } %>

                    </div>

                </div>

            </div>

            <div class="col-sm-4 pull-right">
                <div class="panel panel-info">
                    <div class="panel-heading">Recent Media</div>
                    <div class="panel-body" style="padding-bottom:0px;">

                        <% if(typeof shoutout.twitter.tweets.statuses !== 'undefined' && shoutout.twitter.tweets.statuses.length > 0) { %>
                            <% shoutout.twitter.tweets.statuses.forEach(function(tweet){ %>
                                <div class="col-sm-6 col-xs-4">
                                    <div style="position:relative;overflow:hidden;padding-bottom:100%;">
                                        <img class="img-rounded img-responsive" src="<%= tweet.entities.media[0].media_url_https %>" style="position:absolute;">
                                    </div>
                                    <br>
                                </div>
                            <% }); %>
                        <% }  else { %>
                            <p>
                                <br>
                                No media found.
                            </p>
                        <% } %>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Author</div>
                    <div class="panel-body">
                        <h4><%= shoutout.User.username %></h4>
                        <p>
                            <small>Member since <%= moment(shoutout.User.created_at).format('LL'); %></small>
                        </p>
                        <p>
                            <small>Last active <%= moment(shoutout.User.last_login).from(moment.now()); %></small>
                        </p>
                    </div>
                </div>

            </div>

        </div> <!-- row -->

	</div> <!-- container2 -->

    <script>
        function favorite(sender) {
            fetch("/shoutouts/favorite", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                credentials: "same-origin",
                body: JSON.stringify(
                    {shoutoutId: "<%= shoutout.id %>"}
                )
            })
            .then(response => {
                return response.json();
            })
            .then(response => {
                if(response.result === "created") {
                    sender.classList.add("glyphicon-heart");
                    sender.classList.remove("glyphicon-heart-empty");
                }
                if(response.result === "deleted") {
                    sender.classList.remove("glyphicon-heart");
                    sender.classList.add("glyphicon-heart-empty");
                }
                console.log(response);
            })
            .catch(error => {
                console.log("Oops, something went wrong. " + error);
            });
        }
    </script>

    <% include ../partials/footer %>

    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>

    <!-- STRIPE  -->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript">

        var handler = StripeCheckout.configure({
            key: '<%= process.env.STRIPE_PUBLISHABLEKEY %>',
            image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
            locale: 'auto',
            billingAddress: false,
            shippingAddress: false,
            zipCode: false,
            bitcoin: true,
            token: function handleToken(token) {

                token.userId = '<% if(currentUser) { %> currentUser.id <% } %>';
                token.shoutoutId = '<%= shoutout.id %>';
                token.priceOptionId = document.querySelector('input[name="priceOptionRadio"]:checked').value;
                token.priceOptionName = document.querySelector('input[name="priceOptionRadio"]:checked').dataset.description;
                token.shoutoutCaption = document.getElementById("shoutoutCaption").value;
                token.shoutoutMediaLink = document.getElementById("shoutoutMediaLink").value;
                token.shoutoutPublishTime = moment(document.getElementsByName("publishTimeInput").value).format('YYYY-MM-DD hh:mm:ss');

                fetch("/payments/shoutouts", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(token)
                })
                .then(response => {
                    return response.json();
                })
                .then(response => {
                    var charge = JSON.parse(response);
                    console.log(charge);
                })
                .catch(error => {
                    console.log("Oops, something went wrong. " + error);
                });
            }
        });

        document.getElementById("buyButton").addEventListener('click', function (e) {
            // Open Checkout with further options:
            handler.open({
                name: "<%= shoutout.TwitterAccount.username %>",
                description: document.querySelector('input[name="priceOptionRadio"]:checked').dataset.description,
                amount: Number(document.querySelector('input[name="priceOptionRadio"]:checked').dataset.price) * 100
            });
            e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function () {
            handler.close();
        });
    </script>

</body>
</html>