<% include ../partials/header %>

<div id="container-bg">

	<div id="container2">

        <div class="row" style="width:983px;margin:0px;padding-top:15px;">

            <div class="col-sm-8">
                <div class="col-xs-12 bg-info shoutout-info">
                    <div class="col-sm-5 col-md-5 col-lg-4">
                        <img style="height: 150px;width: 150px" class="img-circle img-responsive" src="<%= shoutout.twitter.profile_image_url_https.replace('_normal.', '.') %>" alt="shoutout on <%= shoutout.TwitterAccount.username %>" title="shoutout on <%= shoutout.TwitterAccount.username %>">
                    </div>

                    <div class="col-sm-7 col-md-7 col-lg-8">
                        <div class="pull-left">
                            <h2>
                                <%= shoutout.TwitterAccount.username %>
                            </h2>
                            <p>
                                <small>followers:</small> <%= shoutout.twitter.followers_count %>
                            </p>
                            <p>
                                <small>score:</small> 7.64
                            </p>
                            <p>
                                <small>success rate:</small> 0%
                            </p>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
                <br>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                Description & Demographics
                            </div>

                            <div class="panel-body">

                                <div>
                                    <p>
                                        <%= shoutout.description %>
                                    </p>
                                </div>

                                <div>
                                    <p>
                                        <% if(shoutout.TwitterAccount.Language) { %>
                                            Language: <%= shoutout.TwitterAccount.Language.name %><br>
                                        <% } %>

                                        <% if(shoutout.TwitterAccount.Country) { %>
                                            Country: <%= shoutout.TwitterAccount.Country.name %><br>
                                        <% } %>

                                        <% if(shoutout.TwitterAccount.Age) { %>
                                            Age: <%= shoutout.TwitterAccount.Age.name %><br>
                                        <% } %>

                                        <% if(shoutout.TwitterAccount.Gender) { %>
                                            Gender: <%= shoutout.TwitterAccount.Sex.name %><br>
                                        <% } %>

                                        <% if(shoutout.TwitterAccount.Activity) { %>
                                            Activity: <%= shoutout.TwitterAccount.Activity.name %>
                                        <% } %>
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="panel panel-success">
                    <div class="panel-heading">Pricing</div>
                    <div class="panel-body">
                        <% if(shoutout.ShoutoutPriceOptions.length > 0) { %>

                            <% shoutout.ShoutoutPriceOptions.forEach(function(option){ %>

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="price-option-radio" id="option-<%= option.id %>" value="<%= option.id %>" data-price="<%= option.ShoutoutPrice.price %>" data-description="<%= option.name %>">
                                        <%= `${option.name} - $${option.ShoutoutPrice.price}` %>
                                    </label>
                                </div>

                            <% }); %>

                        <% }  else { %>
                            <p>No price options available.</p>
                        <% } %>
                    </div>

                    <button id="buyButton" class="btn btn-success btn-block">Buy Now</button>

                </div>

            </div>

            <div class="col-sm-4 pull-right">
                <div class="panel panel-info">
                    <div class="panel-heading">Recent Media</div>
                    <div class="panel-body" style="padding-bottom:0px;">

                        <% if(typeof shoutout.twitter.tweets.statuses !== 'undefined' && shoutout.twitter.tweets.statuses.length > 0) { %>
                            <% shoutout.twitter.tweets.statuses.forEach(function(tweet){ %>
                                <div class="col-sm-6 col-xs-4">
                                    <div style="position:relative;overflow:hidden;padding-bottom:100%;">
                                        <img class="img-rounded img-responsive" src="<%= tweet.entities.media[0].media_url_https %>" style="position:absolute;">
                                    </div>
                                    <br>
                                </div>
                            <% }); %>
                        <% }  else { %>
                            <p>
                                <br>
                                No media found.
                            </p>
                        <% } %>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Author</div>
                    <div class="panel-body">
                        <h4><%= shoutout.User.username %></h4>
                        <p>
                            <small>Member Since <%= shoutout.User.created_at %></small>
                        </p>
                        <p>
                            <small>Last Active <%= shoutout.User.last_login %></small>
                        </p>
                    </div>
                </div>

            </div>

        </div> <!-- row -->

	</div> <!-- container2 -->


    <% include ../partials/footer %>

    <!-- STRIPE  -->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript">

        var handler = StripeCheckout.configure({
            key: '<%= process.env.STRIPE_PUBLISHABLEKEY %>',
            image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
            locale: 'auto',
            billingAddress: false,
            shippingAddress: false,
            zipCode: false,
            bitcoin: true,
            token: function handleToken(token) {

                token.shoutoutId = document.getElementsByName("shoutoutId")[0].value;
                token.userId = '<%= locals.currentUser.id %>';

                fetch("/payments/shoutouts", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(token)
                })
                .then(response => {
                    return response.json();
                })
                .then(response => {
                    var charge = JSON.parse(response);
                    console.log(charge);
                })
                .catch(error => {
                    console.log("Oops, something went wrong. " + error);
                });
            }
        });

        document.getElementById("buyButton").addEventListener('click', function (e) {
            // Open Checkout with further options:
            handler.open({
                name: "<%= shoutout.TwitterAccount.username %>",
                description: $("input[name='price-option-radio']:checked").attr("data-description"),
                amount: Number($("input[name='price-option-radio']:checked").attr("data-price")) * 100
            });
            e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function () {
            handler.close();
        });
    </script>

</body>
</html>