<% include ../../partials/header %>

<div id="container-bg">

	<div id="container2">

        <% include ../../partials/dashboard/nav %>

        <div id="faq-spacer"></div>

        <div class="content">
            <div class="col-xs-10">
                <h3 class="pagetitle">
                    Welcome, <%= currentUser.username %>
                </h3>
            </div>
            <div class="col-xs-2">
                <% if(currentUser.role === 'admin') { %>
                    <a href="/admin" class="btn btn-info pull-right" role="button">Admin</a>
                <% } %>
            </div>
            <div class="col-xs-12">
                <p>If you are looking to sell shoutouts, please
                    <a href="/dashboard/accounts">add new account</a> on accounts page!
                </p>
            </div>
            <div class="col-xs-12">&nbsp;</div>

            <div class="bg-info col-xs-12">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2>$<%= currentUser.balance %></h2>
                    <small>available balance</small>
                    <br>
                    <p>
                        <a href="/balance">Withdraw</a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2>
                        <i class="fa fa-envelope"></i> <%= placedOrders %></h2>
                    <small>placed orders</small>
                    <p>
                        <a href="/dashboard/orders">View All</a>
                    </p>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2>$<%= totalEarned.toFixed(2) %></h2>
                    <small>total earned</small>
                    <p>
                        <a href="/dashboard/accounts">Add New Account</a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2>
                        <i class="fa fa-instagram"></i> <%= soldShoutouts.length %></h2>
                    <small>sold shoutouts</small>
                    <p>
                        <a href="/dashboard/orders">View All</a>
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <br>
                <p>
                    Join our affiliate program!
                    <a href="#">Learn More</a>
                </p>
            </div>

            <div class="col-xs-12 col-sm-6">
                <br>
                <a href="/logout" class="btn btn-danger pull-right" role="button">Sign out</a>
            </div>

        </div>

    </div>
	<!-- container2 -->

  <% include ../../partials/footer %>
  <% include ../../partials/sticky-sidebar-deps %>

</body>
</html>
