<% include ../../partials/header %>

<div id="container-bg">

	<div id="container2">

        <% include ../../partials/dashboard/nav %>

        <div id="faq-spacer"></div>

        <div class="col-sm-12">

            <h3 class="pagetitle">
                Orders
            </h3>

            <p>
                You can see your order history here.
            </p>

        </div>

        <br>

        <div class="col-sm-12">

            <div id="faqbox">

                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-justified" role="tablist" id="myTabs">
                        <li role="presentation" class="active"><a href="#byuser" aria-controls="byuser" role="tab" data-toggle="tab">Ordered By You</a></li>
                        <li role="presentation"><a href="#fromuser" aria-controls="fromuser" role="tab" data-toggle="tab">Orders From You</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="byuser">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">

                                        <br>

                                        <% if(typeof orderedByYou !== 'undefined' && orderedByYou.length > 0) { %>
                                            <div class="row">
                                                <div class="col-sm-12 clearfix">
                                                    <div class="col-sm-12">

                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Account</th>
                                                                    <th>Caption</th>
                                                                    <th>Media</th>
                                                                    <th>Price option</th>
                                                                    <th>Price</th>
                                                                    <th>Publish time</th>
                                                                    <th class="text-right">Review</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                <% orderedByYou.forEach(function(order){ %>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            <%= order.Shoutout.TwitterAccount.username %>
                                                                        </th>

                                                                        <td>
                                                                            <%= order.caption %>
                                                                        </td>

                                                                        <td>
                                                                            <%= order.media_link %>
                                                                        </td>

                                                                        <td>
                                                                            <%= order.price_option %>
                                                                        </td>

                                                                        <td>
                                                                            <%= order.price %>
                                                                        </td>

                                                                        <td>
                                                                            <%= moment(order.publish_time).from(moment.now()); %>
                                                                        </td>

                                                                        <td class="text-right">
                                                                            <a class="btn btn-default" href="/shoutouts/<%= order.Shoutout.id %>/review" role="button">Review</a>
                                                                        </td>

                                                                    </tr>
                                                                <% }); %>

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        <% }  else { %>
                                            <p>
                                                <br>
                                                You have no orders.
                                            </p>
                                        <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="fromuser">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">

                                        <br>

                                        <% if(typeof orderedFromYou !== 'undefined' && orderedFromYou.length) { %>
                                            <div class="row">
                                                <div class="col-sm-12 clearfix">
                                                    <div class="col-sm-12">

                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Account</th>
                                                                    <th>Caption</th>
                                                                    <th>Media</th>
                                                                    <th>Price option</th>
                                                                    <th>Price</th>
                                                                    <th>Publish time</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                <% orderedFromYou.forEach(function(order){ %>
                                                                    <tr>
                                                                        <th scope="row">
                                                                            <%= order.Shoutout.TwitterAccount.username %>
                                                                        </th>

                                                                        <td>
                                                                            <%= order.caption %>
                                                                        </td>

                                                                        <td>
                                                                            <%= order.media_link %>
                                                                        </td>

                                                                        <td>
                                                                            <%= order.price_option %>
                                                                        </td>

                                                                        <td>
                                                                            <%= order.price %>
                                                                        </td>

                                                                        <td>
                                                                            <%= moment(order.publish_time).from(moment.now()); %>
                                                                        </td>

                                                                    </tr>
                                                                <% }); %>

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        <% }  else { %>
                                            <p>
                                                <br>
                                                You have no orders.
                                            </p>
                                        <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                <br>

            </div>

        </div>

	</div>
	<!-- container2 -->

    <script>
    $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
    </script>

    <% include ../../partials/footer %>

</body>
</html>