<% include ../../../partials/header %>

<div id="container-bg">

	<div id="container2">

        <% include ../../../partials/dashboard/nav %>

        <div id="faq-spacer"></div>

        <div class="content">
                <div class="panel-header">
                    <h2 class="text-center">Verify @<%= instagram.username %> Account</h2>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10 text-center">

                            <form class="form-horizontal" id="verifyinstagramaccount" name="verifyinstagramaccount" method="post" action="/dashboard/accounts/verify/instagram/<%= instagram.user.username %>">
                                <img style="width:150px;height: 150px;" src="<%= instagram.user.profile_pic_url %>" class="img-circle">

                                <h3>@<%= instagram.user.username %></h3>

                                <p><strong><%= instagram.user.followed_by.count %></strong> followers</p>
                                    <div class="alert alert-warning" role="alert">
                                        Please verify this account by placing “<%= instagramVerificationCode %>” in your instagram bio section, then click Verify.
                                    </div>

                                    <input class="text" name="user_id" type="text" value="<%= currentUser.id %>" hidden />
                                    <input class="text" name="verification_code" type="text" value="<%= instagramVerificationCode %>" hidden />

                                    <button class="btn btn-success">Verify</button>
                                    <a href="/dashboard/accounts/add/instagram" class="btn btn-danger">Cancel</a>

                            </form>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                </div>
            </div>


        </div>

	</div>
	<!-- container2 -->

  <% include ../../../partials/footer %>
  <% include ../../../partials/sticky-sidebar-deps %>

</body>
</html>